<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Sellsmart API</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css" />
  <link href="assets/style.css" rel="stylesheet" type="text/css">
  <link href="assets/themify-icons.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="main_page">
    <!--Scan page-->
    <transition name="slide-fade" mode="in-out">
      <section v-if="page == 'scan'" class="scan_page page" key="scan">
        <div class="wrapper">

          <div class="fl w-100">
            <qrcode-reader @capture="onCapture" id="preview">
            </qrcode-reader>
            <button @click="cheatButton('Weber barbecue')">
                cheat
              </button>
          </div>


          <div class="fl w-100 bg-light-green">
            <div class="w-80 mscan">
              <h1>Scan een qr code</h1>
            </div>
          </div>

          <div class="fl w-100">
            <div class="w-80 mscan">
              <h3>Wilt u een product die u eerder heeft besteld opnieuw bestellen?</h3>
              <h3>Scan de qr code op het product en dit gaat heel gemakkelijk </h3>
            </div>
          </div>

          <div class="fl w-third">
            <div class="output">

            </div>
          </div>

        </div>

      </section>



      <!--Product list-->

      <section v-if="page == 'list'" class="list_page page fl w-100" key="list">
        <div class="itemlist">
          <div class="items fl w-100 bg-light-green" :key="index" v-for="(value, index) in data.elements" @click="viewProduct(value.attributes[0].value)">
            <div class="picdiv">
              <img v-bind:src="getImage(value.attributes[0].value)" alt="">
            </div>
            <div class="productinfo">
              <p>Naam:{{value.title}}</p>
              <p v-show="value.attributes[1]">Prijs: € {{value.attributes[1].value.value}}</p>
              <p>Descriptie: {{value.description | limitWords(5)}}</p>
            </div>
          </div>
        </div>
        <div class="listnav bg-green">
          <span @click="prev()" class="ti-angle-double-left listnavbuttons"></span>
          <span @click="next()" class="ti-angle-double-right listnavbuttons fr"></span>
          <div class="tc">
            <button @click="changePage('scan')" class="backbtn bg-light-green">
              Terug
            </button>
          </div>
        </div>



      </section>

      <!--Product detail page -->

      <section v-if="page == 'product'" class="product_page page" key="product">
        <img v-bind:src="product.imageLink" alt="">
        <div class="productname">
          <h3>{{product.name}}</h3>
        </div>
        <div class="productdescription">
          <p>{{product.longDescription}}</p>
        </div>
        <!--{{product.salePrice.value}}-->

        <button @click="changePage('list')">
            Terug
          </button>
      </section>



    </transition>
    <div v-if="page" class="footer bg-light-green tc">
      ye
    </div>
  </div>

  <link rel="stylesheet" href="vue-qrcode-reader/dist/vue-qrcode-reader.css" />
  <script src="js/vue.js"></script>
  <script src="vue-qrcode-reader/dist/vue-qrcode-reader.browser.js"></script>
  <script src="js/master.js"></script>
</body>

</html>
