<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Sellsmart API</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css" />
  <link href="assets/style.css" rel="stylesheet" type="text/css">
  <link href="assets/themify-icons.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="app-root">

    <div class="loading" v-show="loading == true">IK LAAD</div>

    <transition name="slide-fade">

      <!--Scan page-->

      <section v-if="page == 'scan'" class="scan_page page" key="scan">
        <div class="wrapper">

          <div class="fl w-100">
            <qrcode-reader @capture="onCapture" v-bind:mounted="onInit " id="preview"></qrcode-reader>
          </div>
          <div class="fl w-100 bg-light-green">
            <div class="w-80 mscan">
              <h1>Scan een qr code</h1>
            </div>
          </div>
          <div class="fl w-100">
            <div class="w-80 mscan">
              <h3>Wilt u een product die u eerder heeft besteld opnieuw bestellen?</h3>
              <h3>Scan de qr code op het product en dit gaat heel gemakkelijk </h3>
            </div>
          </div>
          <div class="fl w-third">
            <div class="output">
            </div>
          </div>
        </div>
      </section>

      <!--Product list-->

      <section v-if="page == 'list'" class="list_page page fl w-100" key="list" v-on:scroll="listScroll">
        <div class="itemlist">
          <div class="items fl w-100 bg-light-green" :key="index" v-for="(value, index) in data" @click="viewProduct( getObjectData(value.attributes, 'sku', 'name').value)">
            <div class="picdiv">
              <img v-bind:src="getImage(getObjectData(value.attributes, 'image', 'name').value, index)" onerror="this.src='./assets/icon-no-image.png'" />
            </div>
            <div class="productinfo">
              <h2>{{value.title}}</h2>
              <p v-if="getObjectData(value.attributes, 'salePrice', 'name')">€ {{getObjectData(value.attributes, 'salePrice', 'name').value.value}}</p>
              <p>{{value.description}}</p>
            </div>
          </div>
        </div>
      </section>

      <!--Product detail page -->

      <section v-if="page == 'product'" class="product_page page" key="product">
        <div class="pdpimg bg-green">
          <img v-bind:src="product.imageLink" alt="" />
        </div>
        <div class="pdp">
          <div class="productname">
            <h2>{{product.name}}</h2>
          </div>

          <p class="saleprice">€ {{product.salePrice.value}} {{product.salePrice.priceText}}</p>

          <div id="add">
            <p v-if="product.amountInBasket">{{product.amountInBasket}} product(en) zijn aan je winkelmandje toegevoegd.</p>

            <counter :cur-amt='1' ></counter>

            <div class="addToBasket" @click='addToBasket(product.sku, getObjectData($children, "counter"))'>
                In Winkelwagen
            </div>
          </div>

          <div class="productdescription">
            <p><span v-html="product.finalText"></span><a v-if="product.finalText != product.longDescription"@click="readMore">Lees Meer</a></p>
          </div>

        </div>

      </section>

      <!-- Basket page -->

      <section v-if="page == 'basket'" class="basket_page page fl w-100" key="basket">
        <div class="itemlist">
          <div class="items fl w-100 bg-light-green" :key="index" v-for="(value, index) in basket">
            <div class="picdiv">
              <img v-bind:src="getBasketImg(value.product.title,index)" onerror="this.src='./assets/icon-no-image.png'" />
            </div>
            <div class="productinfo">
              {{value.name}}
                <counter v-bind:cur-amt="value.quantity.value"v-bind:index="index"v-bind:id="value.id"></counter>
              <p class="ti-close remove" @click='removeFromBasket(value.id)'></p>
            </div>
          </div>
          <div v-show="basket.totalPrice > 0" class=" items total w-100" style="color:black;">
            {{basket.totalPrice}}
            <span class="checkoutButton" @click="changePage('invoiceAddress')">Checkout</span>
          </div>
        </div>
      </section>

      <!-- invoice address page -->

      <section v-if="page == 'invoiceAddress'" class="invoice_page page fl w-100" key="invoiceAddress" >
        <h1>Gegevens</h1>
        <form class="form" v-on:submit.prevent="setInvoiceAddress(invoiceToAddress)"  method="POST" action="">

          <h2>Naam</h2>
          <select v-model="invoiceToAddress.title" required>
            <option disabled value="" class="dropDefault">Aanhef</option>
            <option>Dhr</option>
            <option>Mevr</option>
          </select>
          <input type="text" value="" placeholder="Voornaam" v-model.lazy="invoiceToAddress.firstName" required>
          <input type="text" value="" placeholder="Achternaam" v-model.lazy="invoiceToAddress.lastName" required>

          <h2>Locatie</h2>
          <select v-model.lazy="invoiceToAddress.country" required>
            <option disabled value="" class="dropDefault">Land</option>
            <option value="Netherlands">Nederland</option>
          </select>
          <input type="text" class="city" value="" placeholder="Stad" v-model.lazy="invoiceToAddress.city" required>
          <input type="text" class="postalCode" value="" placeholder="Post Code" v-model.lazy="invoiceToAddress.postalCode" required>
          <input type="text" value="" placeholder="Adres" v-model.lazy="invoiceToAddress.addressLine1" required>

          <h2>Contact</h2>
          <input type="tel" value="" placeholder="Telefoon nummer" class="phoneMobile" v-model.lazy="invoiceToAddress.phoneMobile" required>
          <input type="email" value="" placeholder="E-mail" v-model.lazy="invoiceToAddress.email" required>
          <input type="submit" value="Verder">
        </form>
      </section>

      <!-- shipping address page -->

      <section v-if="page == 'shipAddress'" class="address_page page fl w-100" key="shipAddress">
        <h1>Verzend Adres</h1>
        <input type="radio" id="useAddress" v-bind:value="false" v-model="altAddress" selected><label for="useAddress">Gebruik Factuur Adres</label></input>

        <br>
        <input type="radio" id="newAddress" v-bind:value="true" v-model="altAddress"><label for="newAddress">Gebruik Ander Adres</label></input>

        <form class="form" v-on:submit.prevent="setShippingAddress()"  method="POST" action="">
          <transition name="open" mode="out-in">
            <div v-if="altAddress == true" class="altShipping" key="true">
              <h2>Naam</h2>
              <select v-model="commonShipToAddress.title" required>
                <option disabled value="" class="dropDefault">Aanhef</option>
                <option>Dhr</option>
                <option>Mevr</option>
              </select>
              <input type="text" value="" placeholder="Voornaam" v-model.lazy="commonShipToAddress.firstName" required>
              <input type="text" value="" placeholder="Achternaam" v-model.lazy="commonShipToAddress.lastName" required>

              <h2>Locatie</h2>
              <select v-model.lazy="commonShipToAddress.country" required>
                <option disabled value="" class="dropDefault">Land</option>
                <option value="Netherlands">Nederland</option>
              </select>
              <input type="text" class="city" value="" placeholder="Stad" v-model.lazy="commonShipToAddress.city" required>
              <input type="text" class="postalCode" value="" placeholder="Post Code" v-model.lazy="commonShipToAddress.postalCode" required>
              <input type="text" value="" placeholder="Adres" v-model.lazy="commonShipToAddress.addressLine1" required>

              <h2>Contact</h2>
              <input type="email" value="" placeholder="E-mail" v-model.lazy="commonShipToAddress.email" required>
            </div>
          </transition>
          <input type="submit" value="Verder">
        </form>
      </section>

      <!-- Select shipping method page -->

      <section v-if="page == 'shipSelect'" class="shipping_page page fl w-100" key="order">
        <form class="container" method="post" v-on:submit.prevent="setShippingMethod()">
          <ul>
            <li class="shipMethods methodSelect" v-for="(value, index) in shippingMethods">
              <input type="radio" v-bind:name="value.name" v-bind:id="value.id" v-bind:value="value.id" v-model="selectedShipMethod" required >
              <label v-bind:for="value.id">{{value.name}}</label>
              <div class="check"></div>
            </li>
          </ul>
          <input type="submit" value="Verder">
        </form>
      </section>

      <!-- Select shipping method page -->

      <section v-if="page == 'paySelect'" class="payment_page page fl w-100" key="paySelect">
        <form class="container" action="index.html" method="post" v-on:submit.prevent="setPaymentMethod()">
          <ul>
            <li class="payMethods methodSelect" v-for="(value, index) in payMethods">
              <input type="radio" name="paymentMethod" v-bind:id="value.id" v-bind:value="value.id" v-model="selectedPayMethod">
              <label v-bind:for="value.id">{{value.displayName}}</label>
              <div class="check"></div>
            </li>
          </ul>
          <input type="submit" value="Verder">
        </form>
      </section>

      <!-- Create order page -->

      <section v-if="page == 'order'" class="order_page page fl w-100" key="order">
        <div class="tosContainer">
          <input type="checkbox" id="tosCheck" v-model="acceptTermsAndConditions" value="true"> <label for="tosCheck">Ik accepteer de </label><a @click="changePage('terms')">algemene voorwaarden</a> </input>
        </div>
        <input type="submit" value="Bestel" @click="setOrder()">
      </section>

      <!-- Terms of service -->

      <section v-if="page == 'terms'" class="terms_page page fl w-100" key="terms">
        <terms-of-service>
        </terms-of-service>
      </section>

      <!-- Thank you page -->

      <section v-if="page == 'thankYou'" class="ty_page page fl w-100" key="thankYou">
        <h1> Bedankt voor uw bestelling te plaatsen {{invoiceToAddress.title}} {{invoiceToAddress.firstName}} {{invoiceToAddress.lastName}}</h1>
      </section>

    </transition>

    <div class="footer">
      <div class="listnav bg-green">
        <!-- <p @click="test('asus')">test knop</p> -->
        <div class="w-third listnavbuttons" @click="pageBack()">
          <span class="ti-arrow-left" v-show="page != 'scan'"></span>
        </div><div class="w-third listnavbuttons" @click="getBasket()">
          <span v-show="page == 'scan' || page == 'product' || page == 'list'" class="ti-shopping-cart"></span>
        </div><div class="w-third listnavbuttons">
          <span class="ti-menu"></span>
        </div>
      </div>
      <div class="bg-light-green tc">
        <!-- Place logo here -->
        <img  class="logo" src="./assets/sellsmart_payoff_wit.png" alt="Sellsmart">
      </div>
    </div>

  </div>

  <link rel="stylesheet" href="vue/vue-qrcode-reader.css" />
  <script src="vue/vue.js"></script>
  <script src="vue/vue-qrcode-reader.browser.js"></script>
  <script src="js/components.js"></script>
  <script src="js/master.js"></script>
</body>

</html>
