<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Sellsmart API</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css" />
  <link href="assets/style.css" rel="stylesheet" type="text/css">
  <link href="assets/themify-icons.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="app-root">

    <div class="loading" v-show="loading == true">IK LAAD</div>
    <transition name="slide-fade">

      <!--Scan page-->
      <section v-if="page == 'scan'" class="scan_page page" key="scan">
        <div class="wrapper">

          <div class="fl w-100">
            <qrcode-reader @capture="onCapture" @init="onInit" id="preview"></qrcode-reader>
          </div>
          <div class="fl w-100 bg-light-green">
            <div class="w-80 mscan">
              <h1>Scan een qr code</h1>
            </div>
          </div>
          <div class="fl w-100">
            <div class="w-80 mscan">
              <h3>Wilt u een product die u eerder heeft besteld opnieuw bestellen?</h3>
              <h3>Scan de qr code op het product en dit gaat heel gemakkelijk </h3>
            </div>
          </div>
          <div class="fl w-third">
            <div class="output">
            </div>
          </div>
        </div>
      </section>

      <!--Product list-->
      <section v-if="page == 'list'" class="list_page page fl w-100" key="list" v-on:scroll="listScroll">
        <div class="itemlist">
          <div class="items fl w-100 bg-light-green" :key="index" v-for="(value, index) in data" @click="viewProduct(value.attributes[0].value)">
            <div class="picdiv">
              <img v-bind:src="getImage(value.attributes[1].value, index)" onerror="this.src='./assets/scandog.png'" />
            </div>
            <div class="productinfo">
              <h2>{{value.title}}</h2>
              <p v-if="value.attributes[2]">€ {{value.attributes[2].value.value}}</p>
              <p>{{value.description | limitWords(20)}}</p>
            </div>
          </div>
        </div>
      </section>

      <!--Product detail page -->

      <section v-if="page == 'product'" class="product_page page" key="product">
        <div class="pdpimg bg-green">
          <img v-bind:src="product.imageLink" alt="" />
        </div>
        <div class="pdp">
          <div class="productname">
            <h3>{{product.name}}</h3>
          </div>
          <div class="productdescription">
            <p><span v-html="product.longDescription"></span></p>
          </div>
          € {{product.salePrice.value}} {{product.salePrice.priceText}}
          <div>
            <counter :cur-amt='1' ></counter>
            <div class="addToBasket">
              <p class="ti-plus" @click='addToBasket(product.sku, $children[0].counter)'>In Winkelwagen</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Basket page -->

      <section v-if="page == 'basket'" class="basket_page page fl w-100" key="basket">
        <div class="itemlist">
          <div class="items fl w-100 bg-light-green" :key="index" v-for="(value, index) in basket">
            <div class="picdiv">
              <img v-bind:src="getBasketImg(value.product.title,index)" onerror="this.src='./assets/scandog.png'" />
            </div>
            <div class="productinfo">
              {{value.name}}
              <!-- <div class="button" @click='changeBasketItem(value.id, $children[index].counter, index)'v-model.lazy="update"> -->
                <counter v-bind:cur-amt="value.quantity.value"v-bind:index="index"v-bind:id="value.id"></counter>
              <!-- </div> -->
              <p class="ti-close remove" @click='removeFromBasket(value.id)'></p>
            </div>
          </div>
          <div v-show="basket.totalPrice > 0" class=" items total w-100" style="color:black;">
            {{basket.totalPrice}}
            <span class="checkoutButton" @click="changePage('invoice')">Checkout</span>
          </div>
        </div>
      </section>

      <!-- invoice page -->

      <section v-if="page == 'invoice'" class="invoice_page page fl w-100" key="invoice" >
        <h1>Gegevens</h1>
        <form class="form" v-on:submit.prevent="setInvoiceAddress(invoiceToAddress)"  method="POST" action="">

          <h2>Naam</h2>
          <select v-model="invoiceToAddress.title">
            <option disabled value="" class="dropDefault">Aanhef</option>
            <option>Dhr</option>
            <option>Mevr</option>
          </select>
          <input type="text" value="" placeholder="Voornaam" v-model.lazy="invoiceToAddress.firstName" required>
          <input type="text" value="" placeholder="Achternaam" v-model.lazy="invoiceToAddress.lastName" required>

          <h2>Locatie</h2>
          <select v-model.lazy="invoiceToAddress.country">
            <option disabled value="" class="dropDefault">Land</option>
            <option>Nederland</option>
          </select>
          <input type="text" class="city" value="" placeholder="Stad" v-model.lazy="invoiceToAddress.city" required>
          <input type="text" class="postalCode" value="" placeholder="Post Code" v-model.lazy="invoiceToAddress.postalCode" required>
          <!-- <input type="text" value="" placeholder="Country Code" v-model.lazy="invoiceToAddress.countryCode"> -->
          <input type="text" value="" placeholder="Adres" v-model.lazy="invoiceToAddress.addressLine1" required>

          <h2>Contact</h2>
          <input type="tel" value="" placeholder="Telefoon nummer" v-model.lazy="invoiceToAddress.phoneMobile" required>
          <input type="email" value="" placeholder="E-mail" v-model.lazy="invoiceToAddress.email" required>
          <input type="submit" value="Verder">
        </form>
      </section>

      <!-- invoice page -->

      <section v-if="page == 'shipping'" class="shipping_page page fl w-100" key="shipping">
        <h1>Verzend Adres</h1>
        <input type="radio" id="useAddress" v-bind:value="false" v-model="altAddress" selected><label for="useAddress">Gebruik Factuur Adres</label></input>

        <br>
        <input type="radio" id="newAddress" v-bind:value="true" v-model="altAddress"><label for="newAddress">Gebruik Ander Adres</label></input>

        <form class="form" v-on:submit.prevent="setShippingAddress()"  method="POST" action="">
          <transition name="open" mode="out-in">
            <div v-if="altAddress == true" class="altShipping" key="true">
              <h2>Naam</h2>
              <select v-model="commonShipToAddress.title">
                <option disabled value="" class="dropDefault">Aanhef</option>
                <option>Dhr</option>
                <option>Mevr</option>
              </select>
              <input type="text" value="" placeholder="Voornaam" v-model.lazy="commonShipToAddress.firstName" required>
              <input type="text" value="" placeholder="Achternaam" v-model.lazy="commonShipToAddress.lastName" required>

              <h2>Locatie</h2>
              <select v-model.lazy="commonShipToAddress.country">
                <option disabled value="" class="dropDefault">Land</option>
                <option>Nederland</option>
              </select>
              <input type="text" class="city" value="" placeholder="Stad" v-model.lazy="commonShipToAddress.city" required>
              <input type="text" class="postalCode" value="" placeholder="Post Code" v-model.lazy="commonShipToAddress.postalCode" required>
              <!-- <input type="text" value="" placeholder="Country Code" v-model.lazy="commonShipToAddress.countryCode"> -->
              <input type="text" value="" placeholder="Adres" v-model.lazy="commonShipToAddress.addressLine1" required>

              <h2>Contact</h2>
              <!-- <input type="tel" value="" placeholder="Telefoon nummer" v-model.lazy="commonShipToAddress.phoneMobile" required> -->
              <input type="email" value="" placeholder="E-mail" v-model.lazy="commonShipToAddress.email" required>
            </div>
          </transition>
          <input type="submit" value="Verder">
        </form>
      </section>

      <section v-if="page == 'order'" class="order_page page fl w-100" key="order">
      </section>

    </transition>

    <div class="footer">
      <div class="listnav bg-green">
        <div class="w-third" @click="pageBack()">
          <span class="ti-arrow-left listnavbuttons" v-show="page != 'scan'"></span>
        </div><div class="w-third" @click="getBasket()" >
          <span class="ti-shopping-cart listnavbuttons"></span>
        </div><div class="w-third">
          <span class="ti-menu listnavbuttons"></span>
        </div>
      </div>
      <div class="bg-light-green tc">
        SellSmart
      </div>
    </div>

  </div>

  <link rel="stylesheet" href="vue/vue-qrcode-reader.css" />
  <script src="vue/vue.js"></script>
  <script src="vue/vue-qrcode-reader.browser.js"></script>
  <script src="js/components.js"></script>
  <script src="js/master.js"></script>
</body>

</html>
