@font-face {
  font-family: "themify";
  src: url("./fonts/themify/themify.eot");
  src: url("./fonts/themify/themify.woff") format("woff"), url("./fonts/themify/themify.ttf") format("truetype"), url("./fonts/themify/themify.svg#filename") format("svg");
}

@font-face {
  font-family: "formata-condensed";
  src: url("./fonts/formata/formata.eot");
  src: url("./fonts/formata/formata.woff") format("woff"), url("./fonts/formata/formata.woff2") format("woff2"), url("./fonts/formata/formata.ttf") format("truetype"), url("./fonts/formata/formata.svg#filename") format("svg");
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'formata-condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  padding-bottom: 15px;
}

.container-white {
  background-color: #FEFEFB;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.buttons {
  text-align: center;
}

.h-10 {
  height: 10%;
}

/* navbar */

.navbar-inverse {
  background-color: #FEFEFB;
  border-style: none;
}

.nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 80px;
  width: auto;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#preview {
  width: 100%;
  background-color: #666;
  min-height: 210px;
  margin-bottom: -4px;
}
.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,0.6);
  text-align: center;
  font-size: 72px;
  color: #fff;
  z-index: 100;
}

.scanbtn {
  width: 100%;
  border-style: none;
}

.page {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.list_page {
  height: 90%;
  width: 100%;
  color: white;
  z-index: 30;
}

.product_page {
  z-index: 40;
}

.basket_page {
  width: 100%;
  color: white;
  z-index: 30;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-enter
{
  transform: translateX(100%);
  opacity: 0;
}
.slide-fade-leave-to
{
  transform: translateX(-100%);
  opacity: 0;
}

.bg-light-green {
  background-color: #b5d8a6;
  color: #fff;
}

.bg-green {
  background-color: #65ad45;
  color: #fff;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 100;
}

.mscan {
  margin-left: 10%;
}

.itemlist {
  height: calc(100% - 89px);
}

.items {
  padding: 15px;
  margin-top: 5px;
  overflow: hidden;
  display: inline-block;
}

.items p {
  margin: 0px;
}

.items h2{
  margin: 2px;
  font-size: 18px;
}

.items:first-child {
  margin-top: 0px !important;
}

.picdiv {
  float: left;
  height: 80px;
  display: inline-block;

}

.picdiv img {
  height: inherit;
}

.productinfo {
  float: left;
  width: 70%;
  margin-left: 10px;
}

.tc{
  height: 50%;
}

.listnav {
  height: 50%;
  width: 100%;
  text-align: center;
  padding: 5px 0 ;
}

.listnavbuttons {
  font-size: 26px;
}

.counter{
  font-size: 28px;
  height: 35px;
}
.counter div{
  line-height: 30px;
  text-align: center;
  width: 30px;
  background-color: white;
  color: black;
  display: inline-block;
  height: inherit;
}
.counter .countNum{
  width: 60px;
  background-color: white;
  color: black;
  margin: 0 10px;
}

.addToBasket{
  font-size: 18px;
  background-color: yellow;
  width:
  border-radius: 5px;
  padding:3px;
}

.pdpimg {
  padding: 30px;
}

.pdp {
  padding: 0px 15px;
}

@media screen and (min-width: 766px) {
  .productinfo {
    font-size: 25px;
  }
  h3 {
    font-size: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .productinfo {
    font-size: 30px;
  }
  h3 {
    font-size: 34px;
  }
}




}
