@font-face {
  font-family: "themify";
  src: url("./fonts/themify/themify.eot");
  src: url("./fonts/themify/themify.woff") format("woff"), url("./fonts/themify/themify.ttf") format("truetype"), url("./fonts/themify/themify.svg#filename") format("svg");
}

@font-face {
  font-family: "formata-condensed";
  src: url("./fonts/formata/formata.eot");
  src: url("./fonts/formata/formata.woff") format("woff"), url("./fonts/formata/formata.woff2") format("woff2"), url("./fonts/formata/formata.ttf") format("truetype"), url("./fonts/formata/formata.svg#filename") format("svg");
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'formata-condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  padding-bottom: 15px;
}

.container-white {
  background-color: #FEFEFB;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.buttons {
  text-align: center;
}

.button {
    /*width: 140px;*/
    display: inline-block;
}
.button:hover{
  cursor: pointer;
}
.remove{
  position: relative;
  top: 6px;
  display: inline-block;

}
.h-10 {
  height: 10%;
}

/* navbar */

.navbar-inverse {
  background-color: #FEFEFB;
  border-style: none;
}

.nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 80px;
  width: auto;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#preview {
  width: 100%;
  background-color: #666;
  min-height: 210px;
  margin-bottom: -4px;
}
.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,0.6);
  text-align: center;
  font-size: 72px;
  color: #fff;
  z-index: 100;
}

.scanbtn {
  width: 100%;
  border-style: none;
}

.page {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: Calc(100% - 76px);
  overflow: auto;
}

.list_page {
  height: 90%;
  width: 100%;
  color: white;
  z-index: 30;
}

.product_page {
  z-index: 40;
}

.basket_page {
  width: 100%;
  color: white;
  z-index: 30;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-enter
{
  transform: translateX(100%);
  opacity: 0;
}
.slide-fade-leave-to
{
  transform: translateX(-100%);
  opacity: 0;
}

.altShipping{
  max-height: 500px;
  overflow: hidden;
  margin-top: 0px;
}

.open-enter-active {
  transition: all 0.5s ease;
}

.open-leave-active {
  transition: all 0.5s ease;
}

.open-enter
{
  max-height: 0px;
  /* margin-top: -200px; */
}
.open-leave-to
{
  max-height: 0px;
}

.bg-light-green {
  background-color: #b5d8a6;
  color: #fff;
}

.bg-green {
  background-color: #65ad45;
  color: #fff;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 76px;
  z-index: 100;
}

.mscan {
  margin-left: 10%;
}

.itemlist {
  height: calc(100% - 89px);
}

.items {
  padding: 15px;
  overflow: hidden;
  display: inline-block;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.items p {
  margin: 0px;
}

.items h2{
  margin: 2px;
  font-size: 18px;
}

.items:first-child {
  border-top:  0px solid #E1E8EE;
}

.picdiv {
  float: left;
  height: 80px;
  display: inline-block;

}

.picdiv img {
  height: inherit;
}

.productinfo {
  float: left;
  width: 70%;
  margin-left: 10px;
  height: 100%;
}

.tc{
  height: 38px;
}

.listnav {
  height: auto;
  width: 100%;
  padding: 5px 0 ;
}
.listnav div{
  display: inline-block;
  text-align: center;
}

.listnavbuttons {
  font-size: 26px;
}

.quantity {
  margin-top: 20px;
  margin-right: 60px;
  /*border-radius: 6px;*/
  height: 30px;
  font-size: 24px;
  font-weight: 300;
}
.quantity input {
  position: relative;
  top: -2px;
  -webkit-appearance: none;
  /*border: 1px #43484D solid;
  border-top: none;
  border-bottom: none;*/
  border: none;
  text-align: center;
  height: inherit;
  width: 60px;
  color: #43484D;
  font-size: inherit;
}

button[class*=btn] {
  box-shadow: 2px 2px 2px #84919D;
  color: #84919D;
  background-color: #fff;
  font-weight: 400;
  height: inherit;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline:0;
}
.invoice_page, .shipping_page{
  background-color:#B6D8A6;
  width: 100%;
}
.invoice_page h1, .shipping_page h1{
  margin: 0;
  background-color: #65AD63;
  width: 100%;
  font-size: 22px;
  color: white;
  padding: 10px 4%;
  font-weight: normal;
}

.form{
  margin: auto;
  width: 92%;
}
.form h2{
  color: white;
  margin: 0;
  margin-top: 2px;
  font-weight: normal;
}
.form select{
  width: 100%;
  margin: 10px 0;
  height: 42px;
  border: 2px solid #d5d5d5;
  float: left;
  display: inline-block;
}
.form select:first-of-type{
  margin-right: 2%;
  width: 28%;
}
.form input:first-of-type{
  width: 70%;
  float: left;
  display: inline-block;
}
.form input{
  width: 100%;
  margin: 10px 0;
  display: block;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #d5d5d5;
}
.form .city{
  margin-right: 2%;
}
.form .city, .form .postalCode{
  width: 49%;
  float: left;
  margin-top: 0;
}
.form input[type="submit"] {
  display: block;
  float: none;
  background-color: #65AD63;
  color: #fff;
  border: none;
  font-size: 22px;
  width: 50%;
  padding: 8px;
  margin: auto;
}
.form .dropDefault{
  color: #75758A
}
.addToBasket{
  font-size: 18px;
  background-color: yellow;
  width:
  border-radius: 5px;
  padding:3px;
}

.pdpimg {
  padding: 30px;
}

.pdp {
  padding: 0px 15px;
}

@media screen and (min-width: 766px) {
  .productinfo {
    font-size: 25px;
  }
  h3 {
    font-size: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .productinfo {
    font-size: 30px;
  }
  h3 {
    font-size: 34px;
  }
}




}
